.avatar {
    display: block;
    width: $AVATAR;
    height: $AVATAR;
    border-radius: $AVATAR;
    overflow: hidden;
    border: $AVATAR-BORDER solid $COLOR_PRIMARY;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    margin: -$AVATAR auto 20px;

    @media screen and (min-width: $BREAKPOINT) {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
    }
}