.crane {
    background: url(../media/images/crane.png) 0 0 no-repeat;
    width: 150px;
    height: 150px;
    display: block;
    position: absolute;
    pointer-events: none;
    bottom: -70px;
    right: 0;
}