$PADDING: 40px;
$WIDTH: (12 * 60px) - $PADDING * 2;

$COLOR_PRIMARY: #45593C;

$AVATAR: 120px;
$AVATAR-BORDER: 8px;
$ICON: 70px;

$FONT_SIZE: 18px;
$FONT_FAMILY: Lato, Arial, sans-serif;

$BREAKPOINT: $WIDTH + ($PADDING * 2) + 5;

$IMAGE_BACKGROUND: "http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/footer_lodyas.png";
$IMAGE_CARD_BACKGROUND: "http://www.aarongloege.com/img/backgrounds/grid.png";

$MARGIN: 10px;
$grid-COLUMNS: 12;